/* CSS RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General layout*/
html, body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.bazaar{
    background-color: #9E747C;
}

.queen-pink{
    background-color: #EDD3D3;
}

.eggshell{
    background-color: #CCC9BF; /*Pastel Gray*/
}

.almond{
    background-color: #EFD9CE;
}


.rozha{
    font-family: 'Rozha One', serif;
}

.navbar-brand{
    font-size: 2rem;
}


/* CONTAINER  */
.container-fluid:before{
    content: "";
    display:block;
    padding-top: 5em;
    
}
.container-fluid{
    /* padding: 3em; */
    min-height: 100vh;
}

.lead{
    font-size:5rem;
    line-height: 4rem;
}

a{
    color: white;
}

.navbar-brand{
    width: 20%;
}

.collapse{
    width: 80%;
}
.link-items-container{
    width: 100%;

}
.socials{
    width: 33%;   
    text-align: right;
}

.navbar-toggler-icon{
    color: white;
}



.fab{
    padding: 0 .4em;
}

a{
    color: white;
}

.black-text{
    color:black;
}
/* GALLERY  */

.gallery-item{
    max-width:250px;
    width: 100%;
    
}

/* ABOUT */






/*END OF GENERAL LAYOUT*/


/*START OF MEDIA QUERIES*/

/* Media queries for min width 1681px - high res desktop*/

@media only screen and (min-width: 1681px){

    /* LANDING PAGE */

    /*NAV ITEMS PADDING*/
    .nav-item{
        padding: 0 1.8em;
    }

    /*MAIN CONTENT */
    #main-img{
        width:100%;
        max-width: 550px;
      
    }
    #main-right{
        position: relative;
        right: 40%;
        bottom: 80px;
        z-index: 3;
    }

    #main-right-text{
        position: relative;
        right:14%;
        width: 65%;
        bottom: 70px;
        /*max-width: 190px;*/
        font-size: 1.5rem;
        line-height: 1.6rem;
    }

    #main-left{
        position: relative;
        left: 30%;
        top: 120px;
        z-index:2;
    }

    /*ABOUT*/

    .about-img{

        max-width: 500px;
        width: 100%;
    }
    .about-lead{
        position: relative;
        right: 20%;
        width: 120%;
        line-height: 4.5rem;
    }

    .about-text{
        font-size: 1.5rem;
        width: 80%;
    }

    .static-padding{
        padding-top: 5rem;
    }

    /*CONTACT US*/

    .contact-lead{
        position: relative;
        width: 120%;
        left: 8%;
        z-index: 3;
        line-height: 4.5rem;
    }

    .contact-text{
        position: relative;
        left: 8%;
        font-size: 1.5rem;
        width: 90%;
    }

}

/*1441px to 1680px*/

@media only screen and (min-width: 1441px) and (max-width: 1680px){
  
      /* LANDING PAGE */

    /*NAV ITEMS PADDING*/
    .nav-item{
        padding: 0 1.5em;
    }

    /*MAIN CONTENT */
    #main-img{
        width:100%;
        max-width: 550px;
      
    }
    #main-right{
        position: relative;
        right: 40%;
        bottom: 75px;
        z-index: 3;
    }

    #main-right-text{
        position: relative;
        right:8%;
        width: 65%;
        bottom: 65px;
        /*max-width: 250px;*/
        font-size: 1.5rem;
        line-height: 1.6rem;
    }

    #main-left{
        position: relative;
        left: 30%;
        top: 120px;
        z-index:2;
    }

    /*ABOUT*/

    .about-img{
    max-width: 700px;
    width: 100%;
    }
    .about-lead{
    position: relative;
    right: 20%;
    width: 150%;
    line-height: 4.5rem;
    }

    .about-text{
        font-size: 1.5rem;
        width: 80%;
    }

    .static-padding{
        padding-top: 4rem;
    }

    /*CONTACT US*/

    .contact-lead{
        position: relative;
        width: 125%;
        /*left: ;*/
        z-index: 3;
        line-height: 4.5rem;
    }

    .contact-text{
        position: relative;
        /*left: 8%;*/
        font-size: 1.5rem;
        width: 90%;
    }
     
}

/*1281px to 1440px*/
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
       /* LANDING PAGE */

    /*NAV ITEMS PADDING*/
    .nav-item{
    padding: 0 1.1em;
    }

    /*MAIN CONTENT */
    #main-img{
        width:100%;
        max-width: 550px;
      
    }
    #main-right{
        position: relative;
        right: 40%;
        bottom: 75px;
        z-index: 3;
    }

    #main-right-text{
        position: relative;
        right:14%;
        width: 65%;
        bottom: 65px;
        /*max-width: 250px;*/
        font-size: 1.5rem;
        line-height: 1.6rem;
    }

    #main-left{
        position: relative;
        left: 30%;
        top: 120px;
        z-index:2;
    }

    /*ABOUT*/

    .about-img{
        max-width: 700px;
        width: 100%;
    }
    .about-lead{
        position: relative;
        right: 20%;
        width: 140%;
        font-size: 3.9rem;
        line-height: 3.5rem;
    }

    .about-text{
        font-size: 1.2rem;
        width: 80%;
    }
    
    .static-padding{
        padding-top: 3rem;
    }

    /*CONTACT US*/

    .contact-lead{
        position: relative;
        width: 125%;
        left: 5%;
        z-index: 3;
        font-size: 3.9rem;
        line-height: 3.5rem;
    }

    .contact-text{
        position: relative;
        left: 5%;
        font-size: 1.2rem;
        width: 90%;
    } 
}

/*IPAD PRO*/
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  
        /* LANDING PAGE */

    /*NAV ITEMS PADDING*/
    .nav-item{
    padding: 0 .8em;
    }

    /*MAIN CONTENT */
    #main-img{
        width:100%;
        max-width: 550px;
      
    }
    #main-right{
        position: relative;
        right: 40%;
        bottom: 40px;
        z-index: 3;
    }

    #main-right-text{
        position: relative;
        right:14%;
        width: 65%;
        bottom: 30px;
        /*max-width: 250px;*/
        font-size: 1.5rem;
        line-height: 1.6rem;
    }

    #main-left{
        position: relative;
        left: 30%;
        top: 120px;
        z-index:2;
    }
    
    /*ABOUT*/

    .about-img{
    max-width: 700px;
    width: 100%;
    }
    .about-lead{
    position: relative;
    right: 20%;
    width: 140%;
    font-size: 3.5rem;
    line-height: 3.5rem;
    }

    .about-text{
        font-size: 1.1rem;
        width: 80%;
    }
    
    .static-padding{
        padding-top: 2rem;
    }

    /*CONTACT US*/

    .contact-lead{
        position: relative;
        width: 125%;
        left: 5%;
        z-index: 3;
        font-size: 3.5rem;
        line-height: 3.5rem;
    }

    .contact-text{
        position: relative;
        left: 5%;
        font-size: 1.1rem;
        width: 90%;
    }   
  
}
  
}

/*TABLET*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  
  //CSS
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  //CSS
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media only screen and (min-width: 481px) and (max-width: 767px) {
  
  //CSS
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media only screen and (min-width: 320px) and (max-width: 480px) {
  
  //CSS
  
}
