/* CSS RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* || GENERAL STYLES*/
html,
body {
  font-family: "Montserrat", sans-serif;
  color: white;
  min-height: 100vh;
  /*height: 100%!important;*/
}

header {
  width: 100vw;
}
main {
  flex: 1;
  display: flex;
  align-items: center;
}

footer {
  text-align: center;
  padding: 2em;
}

nav {
  display: flex;
  align-items: center;
  padding: 8px 48px;
}
a {
  display: block;
  position: relative;
  color: white;
  text-decoration: none;
  padding: 0.2em 0;
}

a::after {
  /* content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: white;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
  transform: scale(0);
  transform-origin: center; */
}

a:hover::after,
a:focus::after {
  transform: scale(1);
}

/* COLOR */
.bazaar {
  background-color: #9e747c;
}

.queen-pink {
  background-color: #edd3d3;
}

.eggshell {
  background-color: #ccc9bf; /*Pastel Gray*/
}

.almond {
  background-color: #efd9ce;
}

.rozha {
  font-family: "Rozha One", serif;
}

/* UTILITIES */

.lead {
  font-size: 5rem;
  line-height: 4rem;
}

.fab {
  padding: 0 0.4em;
}

.black-text {
  color: black;
}

.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100dvh;
}
/* || SITEWIDE */

/* || HEADER & NAVBAR */

.navbar-toggler {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 1.5rem;
  right: 3rem;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
.navbar-brand {
  font-size: 2rem;
}

.collapse {
  display: flex;
  align-items: center;
}

.navbar-items-container {
  width: 100%;
}
.navbar-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.navbar-list-item {
  padding: 0 1.5em;
}

.navbar-list-item-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: white;
  transition: transform 300ms;
  transform: scale(0);
  transform-origin: center;
}

.navbar-list-item-link:hover:after {
  transform: scaleX(1);
}
.navbar-brand {
  width: 20%;
}

.collapse {
  width: 80%;
}
.link-items-container {
  width: 100%;
}
.navbar-socials {
  width: 33%;
  text-align: right;
}

.navbar-toggler-icon {
  color: white;
}

.breadcrumb {
  font-size: 0.7rem;
}

/* || HOME */

.main-content {
  width: fit-content;
  margin: 0 auto;
}
.image-container {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.background-image {
  max-height: 600px;
}
.overlapping-element {
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.title {
  top: 50%;
  left: -20%;
  scale: 0.8;
}

.nails {
  top: 0;
  left: 80%;
  scale: 0.7;
}

/* GALLERY  */

.gallery-item {
  max-width: 250px;
  width: 100%;
}

.card-img-top {
  width: 100%;
  padding: 10% 5%;
  transition: 0.5s;
}

.card-img-top:hover {
  transform: scale(1.2);
}
.card-body {
  padding: 0 0 0 5%;
}

.card-title {
  margin: 0;
  font-size: 0.7rem;
}

#modal-img {
  padding: 0;
  width: 100%;
  transform: 0.5s;
}

/* ABOUT */

.about {
  display: flex;
  justify-content: center;
}

.custom-select {
  color: white;
  border: 1px solid white;
  width: 60%;
}

.btn {
  color: white;
  border: 1px solid white;
  display: block;
}

.modal-title {
  font-size: 1.7rem;
}
/*CONTACT*/

.contact-form {
  margin: 2em 0 4em 0;
}

.contact-form-input {
  padding: 5%;
  font-size: 1rem;
}
#contact-form-label {
  color: #9e747c;
  text-decoration: underline;
}

.close {
  color: #fff;
  opacity: 1;
}

.map-container {
  overflow: hidden;
  position: relative;
  height: 100%;
  border: 1px solid #dee2e6;
}

.google-map {
  left: 0;
  top: 0;
  height: 100%;
  max-width: 1900px;
  width: 100%;
  position: absolute;
}

/*END OF GENERAL LAYOUT*/

@media (max-width: 991px) {
  /* .navbar-toggler {
    display: flex;
    position: absolute;
    top: 0.75rem;
    right: 1rem;
  } */

  .navbar-toggler {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .collapse {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
  .navbar-list {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar-list-item {
    padding: 0.5em 0;
  }

  .navbar-socials {
    width: 100%;
    text-align: center;
  }

  .collapse {
    display: none;
  }
  .collapse.show {
    display: flex;
  }
}
